secondview/tmp/*
secondview/[Cc]onfig/core.php
secondview/[Cc]onfig/database.php
secondview/app/tmp/*
secondview/app/[Cc]onfig/core.php
secondview/app/[Cc]onfig/database.php
secondview/lib/*
!empty
.DS_STORE
secondview/app/webroot/img/users/*
