body {
  background-color: rgb(47,45,42);
}

#jumbotron {
  overflow-y: hidden;
}

.jumbotron {
  background-image: url('../img/jumbo.jpg');
  text-align: center;
  margin-bottom: 0px;
  height: 80%;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75)inset;
}

.jumbotron-header {
  font-size: 50px;
  color: rgb(255,255,255);
  margin-bottom: 25px !important;
}

.btn-transp {
  margin-top: 55px !important;
  opacity: 1;
}

.jumbotron > p {
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgb(47,45,42);
  color: white;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75)inset;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.navbarfix {
  margin-top: 20px;
}

.user_info > h3 {
  color: rgb(170,170,170);
}

.profile_info {
  padding: 20px;
  /*color: rgba(21,164,178,0.6); */
  color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(170,170,170);
}

.carousel-inner {
  height: 400px;
  overflow-y: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

.left.carousel-control {
  /* background-image: none; */
}

.right.carousel-control {
  /* background-image: none; */
}

.carousel-indicators {
  top: 20px;
}

.uploadphoto {
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
  color: rgb(170,170,170);
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(170,170,170);
}

.uploadphoto > h1 {
  margin-bottom: 35px;
  color: white;
}

.registration {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 40px 40px 40px;
  color: rgb(170,170,170);
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(170,170,170);
}

.registration > h1 {
  margin-bottom: 35px;
  color: white;
}

.modal-custom {
  text-align: left;
}

.profile_pic {
  text-align: center;
}

.container > p {
  padding-left: 90px;
  padding-right: 90px;
}

#UserPassword {
  margin-bottom: 20px;
}

.add-comment {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 40px 40px 40px 40px;
  color: rgb(170,170,170);
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(170,170,170);
}

.carousel-indicators {
  height: 20px;
  overflow-y: hidden;
}

.detail-photo {
  padding-left: 0px;
  padding-right: 0px;
}

.detail-img {
  width: 100%;
}
